<div class="container">
  <%= form_for @off_site, url: { action: "update", params: { id: @off_site.id } } do |f| %>
    <%= link_to '<< Back', off_sites_path, class: "btn btn-secondary" %>
    <%= f.submit "Save Off Site Sheet", class: "btn btn-success" %>
    <h1 align="center">Edit On Site Service</h1>
    <%= render partial: 'form', locals: { f: f } %>
    <div align="right">
      <%= f.submit "Save Off Site Sheet", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
