<div class="pad">
  <button class="btn btn-light" id="backButton"><< Back</button>

  <h1 align="center">Edit Refurbished Display Input Tags</h1>
  <hr />

  <div class="row">
      <div class="col-2">
        <div class="btn-group-vertical">
          <%= link_to 'Brand', '#brand', class: "btn btn-secondary" %>
          <%= link_to 'Monitor Type', '#monitor_type', class: "btn btn-secondary" %>
          <%= link_to 'Size', '#size', class: "btn btn-secondary" %>
        </div>
      </div>
      <div class="col-10">
        <%= render partial: "table", locals: { header: "Brand", id: "brand", data: @brand } %>
        <%= render partial: "table", locals: { header: "Monitor Type", id: "monitor_type", data: @monitor_type } %>
        <%= render partial: "table", locals: { header: "Size", id: "size", data: @size } %>
      </div>
  </div>
</div>
