<h1 align="center">Edit Refurbished Display Input Tags</h1>
<hr />

<div class="mx-auto page form-inline">
  <%= form_for :used_display, url: { action: "create" } do |f| %>
    <%= 'Category: ' %>
    <%= f.select :category, options_for_select(display_categories), { }, { class: "form-control" } %>
    <%= f.text_field :value, class: "form-control", placeholder: "Value" %>
    <button submit class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
  <% end %>
</div>
<br />

<div id="accordion" role="tablist">
  <% display_tags.each do |dt| %>
    <%= render partial: "table", locals: { title: dt[:title], header_id: dt[:header_id], id: dt[:id], data: dt[:data] } %>
  <% end %>
</div>
