<div class="container">
  <%= link_to '<< Back', root_path, class: "btn btn-secondary" %>
  <h1>Admin Area</h1>
  <h2>Logged in as: <%= "#{ session[:username] }" %><h2>
  <% if session[:user_id] %>
    <%= link_to("Log Out", logout_path, method: :delete, class: "btn btn-danger") %>
  <% end %>
  <br /><br />

  <%= link_to 'Edit Pre-Owned Computer Sheet', computer_index_path, class: 'btn btn-primary btn-lg btn-block' %><br />
  <%= link_to 'Edit Pre-Owned Display Sheet', display_index_path, class: 'btn btn-primary btn-lg btn-block' %><br />

  <%= link_to 'Create New Admin', new_admin_path, class: 'btn btn-success' %><br />
  <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.userid %></td>
          <td><%= user.name %></td>
          <td>
            <%= link_to 'Edit User', edit_admin_path(user), class: 'btn btn-secondary' %>
            <%= link_to 'Delete User', "admin/#{ user.id }", method: 'delete', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{ user.name }?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
