<div class="container">
  <%= link_to '<< Back', root_path, class: "btn btn-secondary" %>

  <h1>Manage Users</h1>
  <h2>Logged in as: <%= "#{ session[:username] }" %></h2>
  <hr />
  <%= link_to 'Create New Admin', new_admin_path, class: 'btn btn-success' %><br /><br />
  <table class="table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>

      <% @users.each do |user| %>
        <tr id="admin-<%= "#{user.id}" %>">
          <td><%= user.userid %></td>
          <td><%= user.name %></td>
          <td>
            <%= link_to 'Edit User', edit_admin_path(user), class: 'btn btn-secondary' %>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
