<h1 class="text-center">Manage Users</h1>
<hr />
<%= link_to new_admin_path, class: "btn btn-success" do %>
  <i class="fa fa-plus" aria-hidden="true"></i>
<% end %>
<br />
<br />

<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>

    <% @users.each do |user| %>
      <tr id="admin-<%= "#{user.id}" %>">
        <td><%= user.userid %></td>
        <td><%= user.name %></td>
        <td>
          <%= link_to 'Edit User', edit_admin_path(user), class: 'btn btn-light' %>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
