<div class="jumbotron container">
    <h1>L.A. Computer Company</h1>
    <h5>LACC Login</h5>

    <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :user_id %><br />
        <%= f.number_field :user_id, class: 'form-control', placeholder: "User ID" %><br />
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', placeholder: "Passowrd" %><br />
        <p>
        <%= f.submit("Log In", class: 'btn btn-success') %>
        </p>
    <% end %>
</div>