<h2 id="<%= "#{ id }" %>"><%= "#{ header }" %></h2>

<div class="form-inline">
  <%= form_for :used_computer, url: { action: "create" } do |f| %>
    <%= 'Category: ' %>
    <%= f.select :category, options_for_select(computer_categories, "#{ id }"), { }, { class: "form-control" } %>
    <%= 'Sub Category: ' %>
    <%= f.select :sub_category, computer_sub_categories, { }, { class: "form-control" } %>
    <%= f.text_field :value, class: "form-control", placeholder: "Value" %>
    <%= f.submit "Create New Tag", class: "btn btn-success", id: "#{ id }" %>
  <% end %>
</div>
<br />

<table class="table">
  <thead>
    <tr>
      <th>Position</th>
      <th>Category</th>
      <th>Sub Category</th>
      <th>Value</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      <% data.each do |d| %>
        <tr>
          <td><%= d.sub_index %></td>
          <td><%= d.category %></td>
          <td><%= d.sub_category %></td>
          <td><%= d.value %></td>
          <td>
            <%= link_to 'Edit', edit_computer_path(d), class: "btn btn-secondary" %>
            <%= link_to 'Delete', "computer/#{ d.id }", method: 'delete', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{ d.value }" } %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
