<h2 id="<%= "#{ id }" %>"><%= "#{ header }" %></h2>

<div class="form-inline">
  <%= form_for :used_computer, url: { action: "create" } do |f| %>
    <%= 'Category: ' %>
    <%= f.select :category, options_for_select(computer_categories, "#{ id }"), { }, { class: "form-control" } %>
    <%= 'Sub Category: ' %>
    <%= f.select :sub_category, computer_sub_categories, { }, { class: "form-control" } %>
    <%= f.text_field :value, class: "form-control", placeholder: "Value" %>
    <%= f.submit "Create New Tag", class: "btn btn-success", id: "#{ id }" %>
  <% end %>
</div>
<br />

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Sub Category</th>
      <th>Value</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      <% data.each do |d| %>
        <tr id="computer-<%= "#{d.id}" %>">
          <td><%= d.sub_index %></td>
          <td><%= d.category %></td>
          <td><%= d.sub_category %></td>
          <td><%= d.value %></td>
          <td>
            <div class="btn-group">
              <div class="btn-group">
              <%= link_to 'Edit', edit_computer_path(d), class: "btn btn-light" %>
              <button class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
