<h1 align="center">Refurbished Computer Input Tags</h1>
<hr />

<div class="mx-auto page form-inline">
  <%= form_for :used_computer, url: { action: "create" } do |f| %>
    <%= 'Category: ' %>
    <%= f.select :category, options_for_select(computer_categories), { }, { class: "form-control" } %>
    <%= 'Sub Category: ' %>
    <%= f.select :sub_category, computer_sub_categories, { }, { class: "form-control" } %>
    <%= f.text_field :value, class: "form-control", placeholder: "Value" %>
    <button submit class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
  <% end %>
</div>
<br />

<div id="accordion" role="tablist">
  <% computer_tags.each do |ct| %>
    <%= render partial: "table", locals: { title: ct[:title], header_id: ct[:header_id], id: ct[:id], data: ct[:data] } %>
  <% end %>
</div>
