<hr />
<div class="row">
  <p class="col" align="right">Name:</p>
  <p class="col"><%= f.text_field :name, class: 'form-control', placeholder: 'Name' %></p>
  <p class="col" align="right">Company:</p>
  <p class="col"><%= f.text_field :company, class: 'form-control', placeholder: 'Company' %></p>
</div>
<br />

<div class="row">
  <p class="col" align="right">Phone Number:</p>
  <p class="col-3"><%= f.text_field :phone, class: 'form-control', placeholder: 'Phone Number' %></p>
  <p class="col" align="right">Alternate Number:</p>
  <p class="col-3"><%= f.text_field :alt_phone, class: 'form-control', placeholder: 'Alternate Phone Number' %></p>
  <p class="col" align="right">Email:</p>
  <p class="col-3"><%= f.text_field :email, class: 'form-control', placeholder: 'Email' %></p>
</div>

<p>Address:</p>
<%= f.text_field :street, class: 'form-control', placeholder: 'Street Address' %>
<div class="row">
  <p class="col-4"><%= f.text_field :city, class: 'form-control col', placeholder: 'City' %></p>
  <p class="col-4"><%= f.text_field :state, class: 'form-control col', placeholder: 'State' %></p>
  <p class="col-4"><%= f.text_field :zip, class: 'form-control col', placeholder: 'Zip Code' %></p>
</div>
<br />

<%= f.text_area :notes, class: 'form-control', placeholder: 'Client Notes' %>
<br />
