<table class="table">
  <thead>
    <th>Service Ticket</th>
    <th>Location Shipped</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @off_sites.each do |off_site| %>
      <tr>
        <td><%= off_site.service_order %></td>
        <td><%= off_site.location %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show / Print', off_site_path(off_site), class: "btn btn-light" %>
            <%= link_to 'Edit', edit_off_site_path(off_site), class: "btn btn-light" %>
            <%= link_to 'Delete', "off_site/#{ off_site.id }", method: 'delete', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this onsite?" } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
