<table class="table">
  <thead>
    <th>On-Site ID</th>
    <th>Date / Time</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @on_sites.each do |onsite| %>
      <tr>
        <td><%= onsite.id %></td>
        <td><%= onsite.onsite_date.strftime('%m/%d/%y at %l:%M %p') %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show / Print', onsite_path(onsite), class: "btn btn-light" %>
            <%= link_to 'Edit', edit_onsite_path(onsite), class: "btn btn-light" %>
            <%= link_to 'Delete', "onsite/#{ onsite.id }", method: 'delete', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this onsite?" } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
