<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'LACC', root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if session[:user_id] %>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin Area
            </a>
            <div class="dropdown-menu">
              <%= link_to 'Edit Refurbished Computer Sheet', computer_index_path, class: 'dropdown-item' %>
              <%= link_to 'Edit Refurbished Display Sheet', display_index_path, class: 'dropdown-item' %>
            </div>
          </div>
        <% end %>
      </li>
      <li class="nav-item active">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Refurbished / Trade-In Sheets
          </a>
          <div class="dropdown-menu">
            <%= link_to 'Refurbished Computer Sheets', usedcomputer_path, class: "dropdown-item" %>
            <%= link_to 'Refurbished Display Sheets', useddisplay_path, class: "dropdown-item" %>
            <%= link_to 'Trade-In Sheets', comuputertradein_path, class: "dropdown-item" %>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Service
          </a>
          <div class="dropdown-menu">
            <%= link_to 'On Sites', onsite_index_path, class: "dropdown-item" %>
          </div>
        </div>
      </li>
    </ul>
    <% if session[:user_id] %>
      <%= link_to("Log Out", logout_path, method: :delete, class: "btn btn-danger") %>
    <% else %>
      <div class="form-inline">
        <%= form_tag attempt_login_path, method: 'post' do %>
          <%= number_field_tag :userid, params[:userid], class: 'form-control', placeholder: "User ID" %>
          <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: "Passowrd" %>
          <%= submit_tag "Log In", class: 'btn btn-success' %>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
