<h1>LACC Back End</h1>

<% if session[:user_id] %>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Admin Area</h4>
      <h6 class="card-subtitle mb-2 text-muted">Edit different sheets and manage users</h6>
      <%= link_to 'Edit Refurbished Computer Sheet', computer_index_path, class: 'card-link' %>
      <%= link_to 'Edit Refurbished Display Sheet', display_index_path, class: 'card-link' %>
      <%= link_to 'Manage Users', admin_index_path, class: "card-link" %>
    </div>
  </div>
  <br />
<% end %>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Refurbished / Trade-In Sheets</h4>
    <%= link_to 'Refurbished Computer Sheets', usedcomputer_path, class: "card-link" %>
    <%= link_to 'Refurbished Display Sheets', useddisplay_path, class: "card-link" %>
    <%= link_to 'Trade-In Sheets ', comuputertradein_path, class: "card-link" %>
  </div>
</div>
<br />

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Service Forms</h4>
    <%= link_to 'Clients', clients_path(page: 1), class: "card-link" %>
    <%= link_to 'On Sites', onsite_index_path(page: 1), class: "card-link" %>
    <%= link_to 'Off Sites Service', off_sites_path(page: 1), class: "card-link" %>
  </div>
</div>
