<div class="card">
  <div class="card-body">
    <h4 class="card-title">Refurbished Computer / Display Sheets</h4>
    <%= link_to 'Refurbished Computer Sheet', usedcomputer_path, class: "card-link" %>
    <%= link_to 'Refurbished Display Sheet', useddisplay_path, class: "card-link" %>
  </div>
</div>
<br />

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Blank Sheets</h4>
    <%= link_to 'Refurbished Computer Sheet', computer_blank_form_path, class: "card-link" %>
    <%= link_to 'Refurbished Display Sheet', display_blank_form_path, class: "card-link" %>
    <%= link_to 'Trade-In Sheet', comuputertradein_path, class: "card-link" %>
    <%= link_to 'Blank Onsite Form', onsite_blank_form_path, class: "card-link" %>
  </div>
</div>
