<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td align="center"><%= image_tag("lacc_logo.jpg", alt: "", width: "71", height: "68") %></td>
    <td align="left" class="Label">
      2993 E. White Star Ave.<br />
      Anaheim, VA 92806<br />
      Phone: 714-630-8200<br />
      www.lacomputercompany.com
    </td>
    <td align="left" colspan="3" valign="baseline" class="style2">On Site Service</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  <tr>
    <td><u><b>Customer</b></u></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Name:</td>
    <td colspan="2"><input type="text" size="30"></td>
    <td align="center" valign="middle">Company Name:</td>
    <td colspan="2"><input type="text" size="30"></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Phone Number:</td>
    <td colspan="2"><input type="text" size="30"></td>
    <td align="center" valign="middle">Alt Phone Number:</td>
    <td colspan="2"><input type="text" size="30"></td>
  </tr>
  <td align="center" valign="middle">E-Mail:</td>
  <td colspan="4"><input type="text" size="50"></td>
  <tr>
    <td align="center" valign="middle">Address:</td>
    <td colspan="3"><input type="text" size="50"></td>
    <td valign="middle" colspan="3">
      State:
      <%= select_tag :state, options_for_select(states), include_blank: "Select" %>
      Zip:
      <input type="text" size="6">
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><u><b>On-Site Information</b></u></td>
  </tr>
  <tr>
    <td colspan="3">
      Date:
      <%= select_tag :month, options_for_select(months), include_blank: "Select" %>
      <%= select_tag :day, options_for_select(days), include_blank: "Select" %>
    </td>
    <td colspan="3">
      Time:
      <%= select_tag :hour, options_for_select(hours), include_blank: "Select" %>
      <%= select_tag :minute, options_for_select(minutes), include_blank: "Select" %>
      <%= select_tag :am_pm, options_for_select(am_pm), include_blank: "Select" %>
    </td>
  </tr>
  <tr>
    <td>Symptoms:</td>
  </tr>
  <tr>
    <td colspan="6"><textarea cols="100" rows="3"></textarea></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><u><b>Parts Needed</b></u></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><input type="text"  size="20"></td>
    <td align="center" valign="middle">Part:</td>
    <td><input type="text"  size="20"></td>
    <td align="center" valign="middle">Price: $</td>
    <td><input type="text"  size="20"></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><input type="text"  size="20"></td>
    <td align="center" valign="middle">Part:</td>
    <td><input type="text"  size="20"></td>
    <td align="center" valign="middle">Price: $</td>
    <td><input type="text"  size="20"></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><input type="text"  size="20"></td>
    <td align="center" valign="middle">Part:</td>
    <td><input type="text"  size="20"></td>
    <td align="center" valign="middle">Price: $</td>
    <td><input type="text"  size="20"></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6"><u><b>Resolution</b></u></td>
  </tr>
  <tr>
    <td>Notes:</td>
  </tr>
  <tr>
    <td colspan="5"><textarea cols="80" rows="8"></textarea></td>
    <td align="right">
      OnSite:<input type="text"  size="15"><br />
      Parts: <input type="text"  size="15"><br />
      Subtotal: <input type="text"  size="15"><br />
      Tax: <input type="text"  size="15"><br />
      Total: <input type="text"  size="15"><br />
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">L.A Computer Company will not be responsible
      for any data in customer's hard drive. There will be a charge for repairs under warranty if the problem is
      deemed to be software rather than hardware.</td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" colspan="3">Signature ________________________________</td>
    <td align="center" valign="middle" colspan="3">Date ________________________________</td>
  </tr>
  </table>
