<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  <tr>
    <td class="Title">Customer</td>
  </tr>
  <tr>
    <td align="center" valign="middle">Name:</td>
    <td colspan="2"><%= f.text_field :name, {size: 30} %></td>
    <td align="center" valign="middle">Company Name:</td>
    <td colspan="2"><%= f.text_field :company, {size: 30} %></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Phone Number:</td>
    <td colspan="2"><%= f.text_field :phone, {size: 30} %></td>
    <td align="center" valign="middle">Alt Phone Number:</td>
    <td colspan="2"><%= f.text_field :alt_phone, {size: 30} %></td>
  </tr>
  <td align="center" valign="middle">E-Mail:</td>
  <td colspan="4"><%= f.text_field :email, {size: 50} %></td>
  <tr>
    <td align="center" valign="middle">Address:</td>
    <td colspan="2"><%= f.text_field :street, {size: 30} %></td>
    <td>
      City:
      <%= f.text_field :city, {size: 14} %>
    </td>
    <td valign="middle" colspan="2">
      State:
      <%= f.text_field :state, {size: 3} %>
      Zip:
      <%= f.text_field :zip, {size: 6} %>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="Title">On-Site Information</td>
  </tr>
  <tr>
    <td colspan="6">
      Date and Time:
      <%= f.datetime_select :onsite_date, {prompt: true, ampm: true, minute_step: 5} %>
    </td>
  </tr>
  <tr>
    <td>Symptoms:</td>
  </tr>
  <tr>
    <td colspan="6"><%= f.text_area :symptoms, {size: "100x3"} %></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" class="Title">Parts Needed</td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><%= f.text_field :part_num_one, { size: 20 } %></td>
    <td align="center" valign="middle">Part:</td>
    <td><%= f.text_field :part_one, { size: 20 } %></td>
    <td align="center" valign="middle">Price: $</td>
    <td><%= f.text_field :price_one, { size: 20 } %></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><%= f.text_field :part_num_two, { size: 20 } %></td>
    <td align="center" valign="middle">Part:</td>
    <td><%= f.text_field :part_two, { size: 20 } %></td>
    <td align="center" valign="middle">Price: $</td>
    <td><%= f.text_field :price_two, { size: 20 } %></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><%= f.text_field :part_num_three, { size: 20 } %></td>
    <td align="center" valign="middle">Part:</td>
    <td><%= f.text_field :part_three, { size: 20 } %></td>
    <td align="center" valign="middle">Price: $</td>
    <td><%= f.text_field :price_three, { size: 20 } %></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" class="Title">Resolution</td>
  </tr>
  <tr>
    <td>Notes:</td>
  </tr>
  <tr>
    <td colspan="5"><%= f.text_area :resolution, {size: "80x8"} %></td>
    <td align="right">
      OnSite: <%= f.text_field :onsite_cost, { size: 15 } %><br />
      Parts: <%= text_field 'parts_cost', nil, { size: 15, disabled: 'disabled' } %><br />
      Subtotal: <%= text_field 'subtotal', nil, { size: 15, disabled: 'disabled' } %><br />
      Tax: <%= text_field 'tax', nil, { size: 15, disabled: 'disabled' } %><br />
      Total: <%= text_field 'total', nil, { size: 15, disabled: 'disabled' } %><br />
    </td>
  </tr>
  </table>
