<hr />
<div class="row">
  <div class="col-3">
    <h6 class="Title">Customer</h6>
    <%= f.text_field :client_name, { class: 'form-control', value: @client_name } %>
  </div>
</div>
<br />

<h6 class="Title">On-Site Information</h6>
<div class="row">
  <p class="col" align="center">Date and Time: <%= f.datetime_select :onsite_date, {prompt: true, ampm: true, minute_step: 5, selected: @date} %></p>
</div>
<br />

<div class="form-group row">
  <p class="col" align="center">Invoice Number:</p>
  <div class="col-10">
    <%= f.text_field :invoice_number, class: 'form-control' %>
  </div>
</div>

<h6 class="Title">Symptoms</h6>
<div class="row">
  <%= f.text_area :symptoms, {size: "100x3", class: "form-control"} %>
</div>
<br />

<h6 class="Title">Parts Needed</h6>
<div class="row">
  <div class="form-inline col">
    <p>Part#: <%= f.text_field :part_num_one, { size: 30, class: 'form-control' } %></p>
    <p>Part: <%= f.text_field :part_one, { size: 30, class: 'form-control' } %></p>
    <p>Price: <%= f.text_field :price_one, { size: 30, class: 'form-control' } %></p>
  </div>
</div>
<div class="row">
  <div class="form-inline col">
    <p>Part#: <%= f.text_field :part_num_two, { size: 30, class: 'form-control' } %></p>
    <p>Part: <%= f.text_field :part_two, { size: 30, class: 'form-control' } %></p>
    <p>Price: <%= f.text_field :price_two, { size: 30, class: 'form-control' } %></p>
  </div>
</div>
<div class="row">
  <div class="form-inline col">
    <p>Part#: <%= f.text_field :part_num_three, { size: 30, class: 'form-control' } %></p>
    <p>Part: <%= f.text_field :part_three, { size: 30, class: 'form-control' } %></p>
    <p>Price: <%= f.text_field :price_three, { size: 30, class: 'form-control' } %></p>
  </div>
</div>

<h6 class="Title">Resolution / Notes</h6>
<div class="row">
  <%= f.text_area :resolution, {size: "80x8", class: 'col-8 form-control'} %>
  <p class="col">
    <span class="Title">OnSite Cost</span>
    <%= f.text_field :onsite_cost, { size: 15, class: 'form-control' } %>
  </p>
</div>
