<table width="830" height="80" border="0" cellpadding="2" cellspacing="0" align="center">
  <tr>
    <td align="center"><%= image_tag("lacc_logo.jpg", alt: "", width: "71", height: "68") %></td>
    <td class="Label text-left">
      2993 E. White Star Ave.<br />
      Anaheim, VA 92806<br />
      Phone: 714-630-8200<br />
      www.lacomputercompany.com
    </td>
    <td align="left" colspan="3" valign="baseline" class="style2">On Site Service</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">
      <%= image_tag("bar.jpg", alt: "", width: "925", height: "25") %>
    </td>
  </tr>
  <tr>
    <td class="Title" colspan="3">Customer</td>
    <td class="Title" align="right" colspan="3">On-Site ID and Date</td>
  </tr>
  <tr>
    <td align="left" colspan="3">
      <%= @onsite.client.name %><br />
      <%= @onsite.client.company %><br />
      <%= @onsite.client.street %><br />
      <%= "#{@onsite.client.city}, #{@onsite.client.state} #{@onsite.client.zip}" %>
    </td>
    <td align="right" colspan="3">
      <%= "Tech: #{@onsite.tech}" %><br />
      <%= "Invoice Number: #{@onsite.invoice_number}" %><br />
      <%= "On Site ID: #{@onsite.id}" %><br />
      <%= @onsite.onsite_date.strftime('Date: %A %m/%d/%y') %><br />
      <%= @onsite.onsite_date.strftime('Time: %l:%M %p') %>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="Title">Contact Information</td>
  </tr>
  <tr>
    <td colspan="2"><%= "Phone Number: #{@onsite.client.phone}" %></td>
    <td colspan="2"><%= "Alt Phone Number: #{@onsite.client.alt_phone}" %></td>
    <td colspan="2"><%= "Email: #{@onsite.client.email}" %></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td class="Title">Symptoms:</td>
  </tr>
  <tr>
    <td colspan="6"><%= text_area 'symptoms', nil, {size: "100x3", value: @onsite.symptoms, disabled: 'disabled'} %></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" class="Title">Parts Needed</td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><%= text_field 'part_num_one', nil, {size: 20, value: @onsite.part_num_one, disabled: 'disabled'} %></td>
    <td align="center" valign="middle">Part:</td>
    <td><%= text_field 'part 1', nil, {size: 20, value: @onsite.part_one, disabled: 'disabled'} %></td>
    <td align="center" valign="middle">Price: $</td>
    <td><%= text_field 'price 1', nil, {size: 20, value: @onsite.price_one, disabled: 'disabled'} %></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><%= text_field 'part_num_one', nil, {size: 20, value: @onsite.part_num_two, disabled: 'disabled'} %></td>
    <td align="center" valign="middle">Part:</td>
    <td><%= text_field 'part 1', nil, {size: 20, value: @onsite.part_two, disabled: 'disabled'} %></td>
    <td align="center" valign="middle">Price: $</td>
    <td><%= text_field 'price 1', nil, {size: 20, value: @onsite.price_two, disabled: 'disabled'} %></td>
  </tr>
  <tr>
    <td align="center" valign="middle">Part #:</td>
    <td><%= text_field 'part_num_one', nil, {size: 20, value: @onsite.part_num_three, disabled: 'disabled'} %></td>
    <td align="center" valign="middle">Part:</td>
    <td><%= text_field 'part 1', nil, {size: 20, value: @onsite.part_three, disabled: 'disabled'} %></td>
    <td align="center" valign="middle">Price: $</td>
    <td><%= text_field 'price 1', nil, {size: 20, value: @onsite.price_three, disabled: 'disabled'} %></td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" class="Title">Resolution</td>
  </tr>
  <tr>
    <td>Notes:</td>
  </tr>
  <tr>
    <td colspan="5"><%= text_area 'notes', nil, {size: "80x8", value: @onsite.resolution, disabled: 'disabled'} %></td>
    <td align="right">
      OnSite: <%= text_field 'onsite_cost', nil, {size: 15, value: "$#{number_with_precision(@onsite.onsite_cost, precision: 2)}", disabled: 'disabled'} %><br />
      Parts: <%= text_field 'parts_cost', nil, {size: 15, value: "$#{number_with_precision(@parts_cost, precision: 2)}", disabled: 'disabled'} %><br />
      Subtotal: <%= text_field 'subtotal', nil, {size: 15, value: "$#{number_with_precision(@subtotal, precision: 2)}", disabled: 'disabled'} %><br />
      Tax: <%= text_field 'tax', nil, {size: 15, value: "$#{number_with_precision(@tax, precision: 2)}", disabled: 'disabled'} %><br />
      Total: <%= text_field 'total_cost', nil, {size: 15, value: "$#{number_with_precision(@total, precision: 2)}", disabled: 'disabled'} %><br />
    </td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle" class="Label">L.A Computer Company will not be responsible
      for any data in customer's hard drive. There will be a charge for repairs under warranty if the problem is
      deemed to be software rather than hardware.</td>
  </tr>
  <tr>
    <td height="10" colspan="6">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="middle" colspan="3">Signature ________________________________</td>
    <td align="center" valign="middle" colspan="3">Date ________________________________</td>
  </tr>
</table>
