<!DOCTYPE html>
<html>
  <head>
    <title>Lacc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navigation">
      <%= render 'home/header' %>
    </div>

    <% if !flash[:success].blank? %>
      <div class="container alert alert-success">
        <%= flash[:success] %>
      </div>
    <% elsif !flash[:alert].blank? %>
      <div class="container alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% elsif !flash[:info].blank? %>
      <div class="container alert alert-primary">
        <%= flash[:info] %>
      </div>
    <% end %>

    <br />

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
